In [2]:
import numpy as np
import pandas as pd

In [5]:
data = np.genfromtxt(
    "/content/Sales.csv",
    delimiter=",",
    dtype=str,
    skip_header=1
)

months = data[:, 1]
sales = data[:, 4].astype(float)

In [6]:
quarters = np.zeros(len(months), dtype=int)

for i, m in enumerate(months):
    if "Jan" in m or "Feb" in m or "Mar" in m:
        quarters[i] = 1
    elif "Apr" in m or "May" in m or "Jun" in m:
        quarters[i] = 2
    elif "Jul" in m or "Aug" in m or "Sep" in m:
        quarters[i] = 3
    else:
        quarters[i] = 4

In [8]:
Q1 = sales[quarters == 1].sum()
Q2 = sales[quarters == 2].sum()
Q3 = sales[quarters == 3].sum()
Q4 = sales[quarters == 4].sum()

In [9]:
total_sales = np.sum(sales)
percentage_increase = ((Q4 - Q1) / Q1) * 100

In [11]:
print("Total Sales for the Year:", round(total_sales,2))
print("Percentage Increase from Q1 to Q4:", round(percentage_increase,2))

Total Sales for the Year: 5019265.23
Percentage Increase from Q1 to Q4: 4.22