In [ ]:
import pandas as pd

property_data = pd.DataFrame({
    "property_id": [101, 102, 103, 104, 105],
    "location": ["New York", "New York", "Los Angeles", "Chicago", "Los Angeles"],
  "bedrooms": [3, 5, 4, 6, 2],
    "area_sqft": [1500, 2500, 1800, 3000, 1200],
    "listing_price": [750000, 1200000, 900000, 1100000, 650000]
})

In [ ]:
avg_price_by_location = (
    property_data
    .groupby("location")["listing_price"]
    .mean()
)

print(avg_price_by_location)

location
Chicago        1100000.0
Los Angeles     775000.0
New York        975000.0
Name: listing_price, dtype: float64