In [ ]:
quantity = [5,3,2]
price=[100,200,300]
total=0
for i in range(len(quantity)):
  sum=quantity[i]*price[i]
  total+=sum
  sum=0
print("Initial amount without discount (taxes included): ",total)

Initial amount without discount (taxes included):  1700

In [ ]:
discount = 8
tax = 6
discount_amount = total*(discount/100)
new_total=total-discount_amount
print("Discounted amount (taxes included):",new_total)

Discounted amount (taxes included): 1564.0

In [ ]:
final = new_total*(tax/100)
final_price=new_total+final
print("Final amount (taxes included):",final_price)

Final amount (taxes included): 1657.84